<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Escaneo de componentes para detectar clases anotadas con @Component, @Service, etc. -->
    <context:component-scan base-package="com.erp" />

    <!-- Configuración del resolver para las expresiones EL de Spring -->
    <bean id="jsfManagedBeanELResolver" class="org.springframework.web.jsf.el.SpringBeanFacesELResolver" />

    <!-- Otros beans y configuraciones -->
</beans>
